*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

.container{
    width: 250px;
    height: 500px;
    border-radius: 80px;
    background-color: rgb(48, 47, 47);
    margin: 50px auto;
    position: relative;
}

.container_add{
    width: 250px;
    height: 660px;
    border-radius: 80px;
    background-color: rgb(48, 47, 47);
    margin: 50px auto;
    position: relative;
}

.semaforo{
    width: 230px;
    height: 490px;
    border-radius: 80px;
    background-color: rgb(69, 68, 68);
    position: absolute;
    margin: 5px auto;
}

.semaforo_add{
    width: 230px;
    height: 650px;
    border-radius: 80px;
    background-color: rgb(69, 68, 68);
    position: absolute;
    margin: 5px auto;
}

.circulo{
    width: 150px;
    height: 150px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 45px;
}


.circulo_yellow{
    top: 170px;
}

.circulo_green{
    top: 330px;
}

.circulo_purple{
    top: 490px;
}

#red{
    background-color: red;
    box-shadow: 10px 10px 80px rgb(251, 18, 18);
}

#yellow{
    background-color: yellow;
    box-shadow: 10px 10px 80px rgb(234, 238, 7);
}

#green{
    background-color: green;
    box-shadow: 10px 10px 80px rgb(34, 227, 53);
}

#purple{
    background-color: rgb(125, 33, 129);
    box-shadow: 10px 10px 80px rgb(199, 34, 205);
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button{
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background: linear-gradient(to right ,red, green, yellow);
    color: rgb(38, 39, 39);
    font-size: 15px;
    font-weight: bold;
    
}